
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/bootstrap/bootstrap.css"/>
    <script src="/BootstrapJs/bootstrap.js"></script>
		<link rel="stylesheet" href="/styles/estilos.css" />
	</head>
	<body>
		<h1>Skate Park</h1>

		<div class="py-4">
			<h2>Registro</h2>
			<hr />

			<form action="/registrar" method="POST" enctype="multipart/form-data">
				<div class="form-group row w-50 m-auto">
					<div class="form-group col-12 col-sm-6">
						<label>Email</label>
						<input name="email" class="form-control m-auto " required/>
					</div>
					<div class="form-group col-12 col-sm-6">
						<label>Nombre</label>
						<input name="nombre" class="form-control m-auto " required/>
					</div>
					<div class="form-group col-12 col-sm-6">
						<label>Password</label>
						<input name="password" class="form-control m-auto " required/>
					</div>
					<div class="form-group col-12 col-sm-6">
						<label>Repita la password</label>
						<input name="confirm" class="form-control m-auto " required/>
						<span id='message'></span>
					</div>
					<div class="form-group col-12 col-sm-6">
						<label>Años de experiencia</label>
						<input name="experiencia" type="number" class="form-control m-auto " required/>
					</div>
					<div class="form-group col-12 col-sm-6">
						<label>Especialidad</label>
						<input name="especialidad" class="form-control m-auto " required/>
					</div>
					<div class="form-group col-12 col-sm-12">
						<label>Foto de perfil</label>
						<input name="target_file" type="file" required/>
					</div>
				</div>
				<button class="btn btn-info mb-3">Registrarme</button>
				<p><a href="/Login"> Iniciar sesión</a></p>
			</form>
		</div>
	</body>

	<script>
		const form = document.querySelector('form');

		form.addEventListener('submit', (e) => {
			

			const email = document.querySelector('input[name="email"]').value;
			const nombre = document.querySelector('input[name="nombre"]').value;
			const password = document.querySelector('input[name="password"]').value;
			const confirm = document.querySelector('input[name="confirm"]').value;
			const experiencia = document.querySelector('input[name="experiencia"]').value;
			const especialidad = document.querySelector('input[name="especialidad"]').value;

			const url = "/registrar";
			const data = {
				email,
				nombre,
				password,
				confirm,
				experiencia,
				especialidad,
				};

			fetch(url, {
				mehotd: 'POST',
				body: JSON.stringify(data),
				headers: {
					'Content-Type': 'application/json'
				}
			}).then(res => {
				if(res.status === 200){
					alert('Registro exitoso');
				}
			})
	})

	</script>

</html>