<html lang="en">
	<body>
		<h1>Skate Park</h1>

		<div class="py-4">
			<h2>Administración</h2>
			<hr />

			<table class="table w-50 m-auto">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Foto</th>
						<th scope="col">Nombre</th>
						<th scope="col">Años de experiencia</th>
						<th scope="col">Especialidad</th>
						<th scope="col">Estado</th>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
		</div>
	</body>
	<script>
			const getData = async () => {
			console.log('------ Index GET DATA ADMIN ------');
			const response = await fetch('/skaters');
			let data = await response.json();
			printSkaters(data);
		}

		const printSkaters = (data) => {
			let tableSkaters = document.getElementsByTagName('tbody')[0];
			tableSkaters.innerHTML = '';

		for (let i = 0; i<data.skaters.length; i++){
			
			let status = 'checked'

			if(data.skaters[i].estado == false){
				status = 'uncheked'
			}

				tableSkaters.innerHTML += `
					<tr>
						<th scope="row">${data.skaters[i].id}</th>
						<td><div><img src="/img/${data.skaters[i].foto}" alt="Foto${data.skaters[i].nombre}"></div></td>
						<td>${data.skaters[i].nombre}</td>
						<td>${data.skaters[i].anos_experiencia}</td>
						<td>${data.skaters[i].especialidad}</td>
						<td><input id="${data.skaters[i].id}" type="checkbox" onchange="updateUserStatus()" ${status}/></td>
					</tr>
				`
			}
}

		const updateUserStatus = async () => {
			console.log('------ Index UPDATE USER STATUS ------');
			let id = event.target.id;
			let status = event.target.checked;
			let data = {
				id: id,
				status: status
			}
			
			const response = await fetch('/updateStatus', {
				method: 'PUT',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(data)
			});
		}


	getData()
	</script>
</html>